DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@<HOST>/<DB_NAME>?sslmode=require"
# uncomment next line if you use Prisma <5.10
DATABASE_URL_UNPOOLED="postgresql://<USERNAME>:<PASSWORD>@<HOST>/<DB_NAME>?sslmode=require"
DATABASE_NAME=<DB_NAME>
DATABASE_PASSWORD=<PASSWORD>
DATABASE_USERNAME=<USERNAME>
DATABASE_HOST=<HOST>

AQA_BIOLOGY_COURSE_PRICE_ID="<REDACTED>"
AQA_CHEMISTRY_COURSE_PRICE_ID="<REDACTED>"
AQA_ECONOMICS_COURSE_PRICE_ID="<REDACTED>"
AQA_MATHS_COURSE_PRICE_ID="<REDACTED>"
AQA_PHYSICS_COURSE_PRICE_ID="<REDACTED>"
AQA_PSYCHOLOGY_COURSE_PRICE_ID="<REDACTED>"
AXIOM_DATASET="<REDACTED>"
AXIOM_ORG_ID="<REDACTED>"
AXIOM_TOKEN="<REDACTED>"
APP_BASE_URL="http://localhost:3000"
BACKEND_HOST="<REDACTED>"
BIOLOGY_PAPER_PRICE_ID="<REDACTED>"
CHEMISTRY_PAPER_PRICE_ID="<REDACTED>"
CLERK_SECRET_KEY="<REDACTED>"
CLERK_WEBHOOK_SECRET="<REDACTED>"
DOPPLER_CONFIG="<REDACTED>"
DOPPLER_ENVIRONMENT="<REDACTED>"
DOPPLER_PROJECT="<REDACTED>"
ECONOMICS_PAPER_PRICE_ID="<REDACTED>"
EDEXCEL_BIOLOGY_COURSE_PRICE_ID="<REDACTED>"
EDEXCEL_CHEMISTRY_COURSE_PRICE_ID="<REDACTED>"
EDEXCEL_ECONOMICS_COURSE_PRICE_ID="<REDACTED>"
EDEXCEL_MATHS_COURSE_PRICE_ID="<REDACTED>"
EDEXCEL_PHYSICS_COURSE_PRICE_ID="<REDACTED>"
EDEXCEL_PSYCHOLOGY_COURSE_PRICE_ID="<REDACTED>"
GOOGLE_OAUTH_CLIENT_ID="<REDACTED>"
GOOGLE_OAUTH_CLIENT_SECRET="<REDACTED>"
MATHS_PAPER_PRICE_ID="<REDACTED>"
NEXT_PUBLIC_AXIOM_DATASET="<your-axiom-dataset>"
NEXT_PUBLIC_AXIOM_INGEST_ENDPOINT="<REDACTED>"
NEXT_PUBLIC_AXIOM_TOKEN="<your-axiom-api-token>"
NEXT_PUBLIC_BACKEND_HOST="<REDACTED>"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="<REDACTED>"
NEXT_PUBLIC_SENTRY_DSN="<REDACTED>"
NEXT_PUBLIC_SENTRY_ENV="<REDACTED>"
NEXT_PUBLIC_CLERK_SIGN_IN_URL=<REDACTED>
NEXT_PUBLIC_CLERK_SIGN_UP_URL=<REDACTED>
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=<REDACTED>
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=<REDACTED>
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="<REDACTED>"
NX_CACHE_DIRECTORY="<REDACTED>"
NX_SKIP_NX_CACHE="<REDACTED>"
NX_VERBOSE_LOGGING="<REDACTED>"
OCR_BIOLOGY_COURSE_PRICE_ID="<REDACTED>"
OCR_CHEMISTRY_COURSE_PRICE_ID="<REDACTED>"
OCR_ECONOMICS_COURSE_PRICE_ID="<REDACTED>"
OCR_MATHS_COURSE_PRICE_ID="<REDACTED>"
OCR_PHYSICS_COURSE_PRICE_ID="<REDACTED>"
OCR_PSYCHOLOGY_COURSE_PRICE_ID="<REDACTED>"
OPENAI_API_KEY="<REDACTED>"
PHYSICS_PAPER_PRICE_ID="<REDACTED>"
PSYCHOLOGY_PAPER_PRICE_ID="<REDACTED>"
REDIS_HOST="<REDACTED>"
REDIS_PASSWORD="<REDACTED>"
REDIS_PORT="<REDACTED>"
REDIS_URL="<REDACTED>"
REDIS_USERNAME="<REDACTED>"
SENTRY_AUTH_TOKEN="<REDACTED>"
SENTRY_DSN="<REDACTED>"
SENTRY_ORG="<REDACTED>"
SENTRY_PROJECT="<REDACTED>"
STRIPE_SECRET_KEY="<REDACTED>"
STRIPE_WEBHOOK_SECRET="<REDACTED>"
