.controls {
	transition: opacity 150ms ease;
	opacity: 0;
}

.root {
	width: 100%;
	height: 100%;
}

.root:hover .controls {
	opacity: 1;
}

.deleteButton {
	position: absolute;
	right: 20px;
	top: 20px;
}

