.test1 {
    border: 1px solid red;
}

.test2 {
    border: 2px solid blue;
}

.test3 {
    border: 3px solid green;
}

.test4 {
    border: 4px solid pink;
}

* {
    border: red solid 1px !important
}
